@model ContosoUniversity.Models.SchoolViewModels.InstructorIndexData

@{
    ViewData["Title"] = "INSTRUCTORS";
}

    <h2>INSTRUCTORS</h2>

<p>
    <a asp-action="Create">CREATE NEW</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>NAME</th>
            <th>SURNAME</th>
            <th>STARTING DATE</th>
            <th>
                OFFICE
            </th>
            <th>COURSES</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Instructors)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["InstructorID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if (item.OfficeAssignment != null)
                    {
                        @item.OfficeAssignment.Location
                    }
                </td>
                <td>
                    @{
                        foreach (var course in item.CourseAssignments)
                        {
                            @course.Course.CourseID @:  @course.Course.Title <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">SELECT</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">EDIT</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">DETAILS</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">DELETE</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*eğitmenin üzerine tıklandığında hangi kursları verdiği görüntülenir*@

@if (Model.Courses != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>NUMBER</th>
            <th>
                TITLE
            </th>
            <th>DEPARTMENT</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == (int?)ViewData["CourseID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.CourseID })
                </td>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }

    </table>
}

 @*kurs seçildiğinde bir kursa kayıt yaptıran öğrencilerin bir listesini görüntüler*@

@if (Model.Enrollments != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>NAME</th>
            <th>EXAM</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FirstMidName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}

